<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de Cuenta</title>
</head>
<body>
    <h1>¡Bienvenido/a al repositorio Aeneta!</h1>
    <p>Tu cuenta ha sido creada con éxito. A continuación, encontrarás tus datos de acceso:</p>
    <p>Usuario: {{ email }}</p>
    <p>Contraseña: {{ password }}</p> 
    <p>Por favor, asegúrate de cambiar tu contraseña al ingresar por primera vez por motivos de seguridad.</p>
    <p>Si hay algún problema contáctate al correo aeneta.re@gmail.com</p>
</body>
</html>
