{% extends "base_generic_Administracion.html" %}

{%load static%}

{% block content %}
<div id="fondo">
    <div class="contenedor_principal_cc letra_texto">
        <h2 class="letra_titulos">Crear cuentas</h2>
        <div id="crear_c">
            <form method="post" id="signupForm" data-url="{% url 'administracion:create_user' %}" data-csrf-token="{{ csrf_token }}" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}

                {{ form.nombre.label_tag }} {{ form.nombre }}
                {{ form.apellido.label_tag }} {{ form.apellido }}
                {{ form.correo_electronico.label_tag }} {{ form.correo_electronico }}

                {{ form.username.label_tag }} {{ form.username }} {{ form.username.errors }}
                {{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}
                {{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}

                {{ form.user_type.label_tag }} {{ form.user_type }}

                <!-- Campos para Alumnos -->
                <div id="alumnoFields" style="display: none;">
                    {{ form.matricula.label_tag }} {{ form.matricula }}
                    {{ form.programa_academico.label_tag }} {{ form.programa_academico }}
                    {{ form.estatus.label_tag }} {{ form.estatus }}
                </div>

                <!-- Campos para Docentes -->
                <div id="docenteFields" style="display: none;">
                    {{ form.especialidad.label_tag }} {{ form.especialidad }}
                    {{ form.departamento_docente.label_tag }} {{ form.departamento_docente }}
                </div>

                <!-- Campos para Administrativos -->
                <div id="administrativoFields" style="display: none;">
                    {{ form.cargo.label_tag }} {{ form.cargo }}
                    {{ form.departamento_admin.label_tag }} {{ form.departamento_admin }}
                </div>

                <button type="submit" class="btncrear">Crear cuenta</button>
            </form>
        </div>
    </div>
</div>

<!-- Script necesario -->
<script src="{% static 'scripts/crear_cuentas.js' %}"></script>
{% endblock %}
