#contenedor_datos{
    margin:  auto;
    width: 60%;
    background-color: #fff;
    border-radius: 5%;
}

#informacion{
    width: 50%;
}

.letra_datos{
    font-family: monospace; 
    color: #333333;
    font-size: 25px;
    padding: 15px;
  }

.letra_datos p {
    margin-bottom: 10px;
}

  #info_e {
    text-align: center; /* Alinea el contenido al centro */
  }
  
  #info_e button {
    background-color: #6b1640; 
    color: white; /* Texto en color blanco */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Relleno alrededor del texto */
    font-size: 26px; /* Tamaño de fuente más grande */
    cursor: pointer; /* Cursor en forma de mano al pasar el ratón */
    outline: none; /* Elimina el contorno al enfocar */
    width: 50%;
  }
  
  #info_e button:hover {
    background-color: #803d5e; 
  }