{% extends "base_generic_alumnos.html" %}

{% block content %}
  <div id="fondo">
    <div class="contenedor_principal letra_texto">
        <h1 class="letra_titulos">Calendario de Convocatorias de Titulación</h1>
        <table>
            <thead>
                <tr>
                    <th>Convocatoria</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha Límite de Entrega</th>
                    <th>Descripción</th>
                    <th>Requisitos</th>
                    <th>Documentos a Entregar</th>
                </tr>
            </thead>
            <tbody>

                {% for convocatoria in convocatorias %}
                <tr>
                    <td>{{ convocatoria.convocatoria }}</td>
                    <td>{{ convocatoria.fecha_inicio }}</td>
                    <td>{{ convocatoria.fecha_limite_entrega }}</td>
                    <td>{{ convocatoria.descripcion }}</td>
                    <td>{{ convocatoria.requisitos }}</td>
                    <td>{{ convocatoria.documentos_a_entregar }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
  </div>
{% endblock %}