{% extends "base_generic_alumnos.html" %}

{% block content %}
  <div id="fondo">
<h1>Calendario de Convocatorias de Titulación</h1>
<table>
    <thead>
        <tr>
            <th>Convocatoria</th>
            <th>Fecha de Inicio</th>
            <th>Fecha Límite de Entrega</th>
            <th>Descripción</th>
            <th>Requisitos</th>
            <th>Documentos a Entregar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Proyecto de investigación</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>Consiste en elaborar un informe técnico conclusivo sobre una investigación realizada, con el fin de proponer o desarrollar un nuevo material, equipo, prototipo, proceso o sistema en el área de interés del pasante para su titulación.</td>
            <td>Contar con la aprobación del director del proyecto que está registrado en la Secretaría de Investigación y Posgrado (SIP).</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Tesis</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>Se trata de un proyecto de investigación escrito que busca explorar o ofrecer nuevos enfoques sobre un tema específico dentro del área de estudio del pasante.</td>
            <td>El tema deberá ser previamente aprobado por la academia de profesores.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Memoria de experiencia profesional</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>Consiste en la redacción de un informe detallado sobre las actividades profesionales del pasante durante un período de al menos tres años, donde se pongan en práctica los conocimientos especializados adquiridos.</td>
            <td>Se requiere el respaldo de una empresa establecida, tanto en términos de la duración de la experiencia como de la participación del pasante en uno o varios proyectos mencionados en el informe.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Examen de conocimiento por áreas</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>El examen de conocimientos por áreas implica la aprobación de una evaluación que puede ser teórica, teórico-práctica, oral o escrita, ya sea pública o privada, centrada en un área específica o conjunto de asignaturas de la carrera cursada.</td>
            <td>Llevar a cabo el pago correspondiente al exámen.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Créditos de posgrado</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>Implica completar el cincuenta por ciento de los créditos de cursos necesarios para cumplir con un programa de posgrado equivalente a una maestría y la presentación de dos trabajos de investigación, o completar el setenta y cinco por ciento de los créditos de cursos requeridos para un programa de posgrado similar a una maestría. </td>
            <td>Se debe presentar un documento que confirme la relación entre el programa de posgrado y la carrera previa, emitido por la Secretaría de Investigación y Posgrado.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Seminario</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>Consiste en la obligación del pasante o estudiante regular inscrito en el último semestre de aprobar un seminario con una duración mínima de 150 horas, organizado por la subdirección académica de la escuela previo acuerdo del consejo técnico consultivo escolar y autorización de la Secretaría Académica.</td>
            <td>Se debe seleccionar el seminario que se ajuste a su disponibilidad y registrarse.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Escolaridad</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>Se aplica cuando el pasante ha mantenido un promedio mínimo de nueve a lo largo de su carrera y no ha reprobado ninguna asignatura.</td>
            <td>Es necesario que el pasante realice una tesis de alta calidad, con una calificación relevante y excepcional, además de que su examen profesional sea evaluado como excelente.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Curricular</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>La modalidad curricular implica la validación de cursos o una serie de actividades diseñadas específicamente para propósitos de titulación.</td>
            <td>Ser aprobados con una asistencia mínima del noventa por ciento y una calificación no menor a ocho.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
        <tr>
            <td>Práctica profesional</td>
            <td>01/06/2024</td>
            <td>30/06/2024</td>
            <td>Esta opción implica que el estudiante participe en actividades durante un mínimo de setecientas veinte horas en un entorno laboral donde pueda aplicar los conocimientos adquiridos en su carrera.</td>
            <td>Los estudiantes interesados en esta modalidad deben iniciar el proceso en la oficina de prácticas y visitas de la escuela, solicitando una carta de presentación dirigida a la empresa seleccionada y presentando la confirmación de aceptación que indique el período y el proyecto en el que participará el estudiante, en la Jefatura de la carrera correspondiente.</td>
            <td>Certificado de estudios y solicitud de titulación.</td>
        </tr>
    </tbody>
</table>
  </div>
{% endblock %}