{% extends "base_generic_alumnos.html" %}

{% block content %}
<div id="fondo">
    <div class="body_es">
        <h1 class="h1_class">Estatus del proceso de Titulación</h1>
        <ul class="ul_class">
            <li class="li_class {% if proceso.ver_info %}active{% endif %}" style="--accent-color:#41516C">
                <div class="date">Inicio del proceso de Titulación</div>
                <div class="title">Primer Paso</div>
                <div class="descr">Durante esta etapa el estudiante deberá informarse acerca de cada opción de titulación que esté disponible, así como enterarse de las fechas establecidas para el registro del proceso de titulación.
                    <a href="{% url 'alumnos:actualizar_ver_info' %}">Ver Información.</a>
                </div>
            </li>
            <li class="li_class {% if proceso.enviar_propuesta %}active{% endif %}" style="--accent-color:#FBCA3E">
                <div class="date">Enviar propuesta de Titulación</div>
                <div class="title">Segundo Paso</div>
                <div class="descr">En esta etapa el estudiante deberá registrarse en una convocatoria de titulación, así como anexar el documento de la propuesta de titulación.
                    <a href="{% url 'alumnos:enviar_propuesta' %}">Enviar propuesta.</a>
                </div>
            </li>
            <li class="li_class {% if proceso.resultado_propuesta %}active{% endif %}" style="--accent-color:#E24A68">
                <div class="date">Resultados de propuesta de Titulación</div>
                <div class="title">Tercer Paso</div>
                <div class="descr">En esta etapa al estudiante se le dará a conocer el resultado de la aprobación de su propuesta de titulación.
                    <a href="{% url 'alumnos:enviar_propuesta' %}">Ver resultados.</a>
                </div>
            </li>
            <li class="li_class {% if proceso.desarrollo_proyecto %}active{% endif %}" style="--accent-color:#1B5F8C">
                <div class="date">Desarrollar trabajo académico</div>
                <div class="title">Cuarto Paso</div>
                <div class="descr">Una vez aceptada la propuesta de titulación, el estudiante debe comenzar a desarrollar su proyecto durante el periodo de tiempo establecido.
                    <a href="{% url 'alumnos:desarrollo' %}">Ver progreso.</a>
                </div>
            </li>
            <li class="li_class {% if proceso.enviar_trabajo %}active{% endif %}" style="--accent-color:#4CADAD">
                <div class="date">Enviar trabajo académico</div>
                <div class="title">Último Paso</div>
                <div class="descr">El estudiante debe mandar en tiempo y forma el trabajo de titulación finalizado por medio de la plataforma.
                    <a href="{% url 'alumnos:envio_documento_p' %}">Enviar archivo.</a>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
