{% extends "base_generic_alumnos.html" %}

{% block content %}

<div id="fondo">
    <div class="body_es">
        <h1 class="h1_class">Estatus del proceso de Titulación</h1>
        <ul class="ul_class">
            <li class="li_class", style="--accent-color:#41516C">
                <div class="date">Inicio del proceso de Titulación</div>
                <div class="title">Primer Paso</div>
                <div class="descr">Durante esta etapa el estudiante debera informarse acerca de cada opcion de titulación que este disponible
                    asi como enterarse de las fehas establecidas para el registro del proceso de titulación.</div>
            </li>
            <li class="li_class", style="--accent-color:#FBCA3E">
                <div class="date">Enviar propuesta de Titulación</div>
                <div class="title">Segundo Paso</div>
                <div class="descr">En esta estapa el estudiante debera registrarse en una convocatoria de tiyulacion asi como anexar el documento de la propuesta de titulación.</div>
            </li>
            <li class="li_class", style="--accent-color:#E24A68">
                <div class="date">Resultados de propuesta de Titulación</div>
                <div class="title">Tercer Paso</div>
                <div class="descr">En esta estapa al estudiante se le dara a conocer el resultado de la aprobacion de su propuesta de titulación.</div>
            </li>
            <li class="li_class", style="--accent-color:#1B5F8C">
                <div class="date">Desarrollar trabajo académico</div>
                <div class="title">Cuarto Paso</div>
                <div class="descr">Una vez aceptada la propuesta de titulación el estudiante debe comenzar a desarrollar su proyecto duarnte el periodo de tiempo establecido.</div>
            </li>
            <li class="li_class", style="--accent-color:#4CADAD">
                <div class="date">Enviar trabajo académico</div>
                <div class="title">Ultimo Paso</div>
                <div class="descr">El estudiamte debe mandar en tiempo y forma el trabajo de titulacion finalizado por medio de la plataforma.</div>
            </li>
        </ul>
    </div> 
</div>

{% endblock %}