{% extends "base_generic_alumnos.html" %}

{% block content %}
  <div id="fondo">
    <div class="contenedor_principal letra_texto">
    <h1 class="letra_titulos">Convocatorias de titulación en la universidad</h1>
    <div class="carousel-menu">
      <ul>
        <li><a href="#slide1">Proyecto de investigación</a></li>
        <li><a href="#slide2">Tesis</a></li>
        <li><a href="#slide3">Memoria de experiencia profesional</a></li>
        <li><a href="#slide4">Examen de conocimiento por áreas</a></li>
        <li><a href="#slide5">Créditos de posgrado</a></li>
        <li><a href="#slide6">Seminario</a></li>
        <li><a href="#slide7">Escolaridad</a></li>
        <li><a href="#slide8">Curricular</a></li>
        <li><a href="#slide9">Práctica profesional</a></li>
      </ul>
    </div>
    <div class="carousel-container">
      
        <div class="corousel-content">
          <div class="carousel__slides">
            <div class="carousel__slide " id="slide1">
              <h2 class="letra_convo">Proyecto de investigación</h2>
              <p>Consiste en elaborar un informe técnico conclusivo sobre una investigación realizada, con el fin de proponer o desarrollar un nuevo material, equipo, prototipo, proceso o sistema en el área de interés del pasante para su titulación. En esta modalidad, se presenta un informe por escrito, se realiza una exposición oral del trabajo realizado y se somete a evaluación por parte del jurado correspondiente. <br>
                  <br>El tema y enfoque de la investigación deben ser aprobados por la subdirección académica de la escuela, previa evaluación por parte de la academia de profesores y el jefe del departamento académico correspondiente. <br>
                  <br>Esta opción puede ser presentada de las siguientes formas:</p>
                  <ol>
                      <li>Individual: Cuando un único pasante lleva a cabo la investigación.</li>
                      <li> Colectiva: Cuando varios pasantes de la misma carrera participan en la investigación.</li>
                      <li>Colectiva interdisciplinaria: Cuando pasantes de diferentes carreras dentro de la escuela colaboran en la investigación.</li>
                      <li>Colectiva multidisciplinaria: Cuando pasantes de diferentes carreras y escuelas trabajan juntos en la investigación, siendo coordinados por la escuela que abarca la mayor parte del contenido del proyecto.</li>
                  </ol>
              <p>En las modalidades 2, 3 y 4, el número de participantes está determinado por la complejidad, extensión y alcance del proyecto de investigación. Cada participante es responsable de su parte asignada, pero debe tener conocimiento del proyecto en su totalidad. <br>
                  <br>Es necesario contar con la aprobación del director del proyecto que está registrado en la Secretaría de Investigación y Posgrado (SIP).</p>
            </div>
            
            <div class="carousel__slide" id="slide2">
              <h2 class="letra_convo">Tesis</h2>
              <p>Se trata de un proyecto de investigación escrito que busca explorar o ofrecer nuevos enfoques sobre un tema específico dentro del área de estudio del pasante. En esta opción, el pasante presentará una síntesis oral del proyecto ante el jurado correspondiente. <br>
                  <br>El tema de la tesis puede ser sugerido por el pasante o asignado por la subdirección académica, previa aprobación de la academia de profesores. Este proyecto puede ser realizado de las siguientes formas:</p>
                  <ol>
                      <li>Individual: Un solo pasante desarrolla la tesis.</li>
                      <li> Colectiva: Varios pasantes de la misma carrera colaboran en la tesis.</li>
                      <li>Colectiva interdisciplinaria: Pasantes de diferentes carreras dentro de la escuela trabajan en la tesis.</li>
                      <li>Colectiva multidisciplinaria: Pasantes de diferentes carreras y escuelas colaboran en la tesis, coordinados por la escuela que abarca la mayor parte del contenido.</li>
                  </ol>
              <p>En las modalidades 2, 3 y 4, el número de participantes está determinado por la complejidad y alcance del trabajo. Se debe equilibrar la carga de trabajo entre los participantes, quienes deben conocer la tesis en su totalidad y no solo su parte asignada. <br>
                  <br>Esta opción se recomienda especialmente para los pasantes que han egresado de la escuela sin completar el proceso de titulación curricular.</p>
            </div>
            <div class="carousel__slide" id="slide3">
              <h2 class="letra_convo">Memoria de experiencia profesional</h2>
              <p>Consiste en la redacción de un informe detallado sobre las actividades profesionales del pasante durante un período de al menos tres años, donde se pongan en práctica los conocimientos especializados adquiridos. En esta opción, el pasante presentará una exposición oral del informe ante el jurado correspondiente. <br>
                  <br>El informe escrito debe ser aprobado por la subdirección académica de la escuela, tras la evaluación de la academia de profesores y el jefe de carrera respectivos. <br>
                  <br>Esta modalidad está dirigida a egresados que han completado más de tres años como pasantes y que han estado activos en el ámbito profesional de su carrera. <br>
                  <br>Los candidatos defenderán su informe frente a un jurado que determinará su idoneidad para la titulación. Se requiere el respaldo de una empresa establecida, tanto en términos de la duración de la experiencia como de la participación del pasante en uno o varios proyectos mencionados en el informe. <br>
                  <br>Además, se llevará a cabo un examen de conocimientos por áreas.</p>
            </div>
            <div class="carousel__slide" id="slide4">
              <h2 class="letra_convo">Examen de conocimiento por áreas</h2>
              <p>El examen de conocimientos por áreas implica la aprobación de una evaluación que puede ser teórica, teórico-práctica, oral o escrita, ya sea pública o privada, centrada en un área específica o conjunto de asignaturas de la carrera cursada. Este examen puede administrarse de manera simultánea a todos los pasantes que lo soliciten, siendo la subdirección académica de la escuela, centro o unidad de enseñanza e investigación responsable de determinar, con el dictamen de la academia de profesores correspondiente, el número de participantes y el contenido del examen. <br>
                  <br>La elaboración y aplicación del examen deben ser revisadas, autorizadas y supervisadas por la Dirección de Educación Media Superior o la Dirección de Estudios Profesionales, según corresponda. <br>
                  <br>Este tipo de examen se recomienda para aquellos pasantes con un destacado desempeño académico que, por alguna razón, no hayan logrado la titulación por medio de la escolaridad tradicional.</p>
            </div>
            <div class="carousel__slide" id="slide5">
              <h2 class="letra_convo">Créditos de posgrado</h2>
              <p>Implica completar el cincuenta por ciento de los créditos de cursos necesarios para cumplir con un programa de posgrado equivalente a una maestría y la presentación de dos trabajos de investigación, o completar el setenta y cinco por ciento de los créditos de cursos requeridos para un programa de posgrado similar a una maestría. Estos créditos deben ser obtenidos en un programa relacionado con la carrera previamente cursada y deben ser reconocidos o convalidados por la Dirección de Estudios de Posgrado e Investigación. <br>
                  <br>La pertinencia del programa de posgrado será determinada por el Colegio de Profesores de la sección de Posgrado e Investigación de la Escuela. <br>
                  <br>Se debe presentar un documento que confirme la relación entre el programa de posgrado y la carrera previa, emitido por la Secretaría de Investigación y Posgrado.</p>
            </div>
            <div class="carousel__slide" id="slide6">
              <h2 class="letra_convo">Seminario</h2>
              <p>Consiste en la obligación del pasante o estudiante regular inscrito en el último semestre de aprobar un seminario con una duración mínima de 150 horas, organizado por la subdirección académica de la escuela previo acuerdo del consejo técnico consultivo escolar y autorización de la Secretaría Académica. <br>
                  <br>Para completar este curso, se requiere obtener una calificación no menor a 8 y una asistencia mínima del 90%, además de presentar un trabajo escrito relacionado con el tema del seminario. <br>
                  <br>La Secretaría Académica establecerá los procedimientos para la organización, impartición y acreditación de los seminarios de titulación, incluyendo aspectos como programación, contenido, evaluación y calidad de los ponentes. <br>
                  <br>Se recomienda especialmente para pasantes que estén trabajando en el campo de la ingeniería relacionada con su carrera de egreso. Para egresados de otras escuelas, es necesario presentar una carta de no objeción de su institución de origen para poder inscribirse.</p>
            </div>
            <div class="carousel__slide" id="slide7">
              <h2 class="letra_convo">Escolaridad</h2>
              <p>Se aplica cuando el pasante ha mantenido un promedio mínimo de nueve a lo largo de su carrera y no ha reprobado ninguna asignatura. Es fundamental que el pasante que cumple con estos criterios considere que es un candidato sólido para recibir una Mención Honorífica, que representa el más alto reconocimiento a la excelencia académica en la escuela. Para ello, es necesario que realice una tesis de alta calidad, con una calificación relevante y excepcional, además de que su examen profesional sea evaluado como excelente.</p>
            </div>
            <div class="carousel__slide" id="slide8">
              <h2 class="letra_convo">Curricular</h2>
              <p>La modalidad curricular implica la validación de cursos o una serie de actividades diseñadas específicamente para propósitos de titulación. Estos cursos o actividades deben estar incluidos en el plan de estudios de la carrera correspondiente, según lo establecido en el artículo 10 del Reglamento para la aprobación de los Planes y Programas de Estudio del Instituto Politécnico Nacional. <br>
                  <br>Para ser considerados para la titulación, estos cursos o actividades equivalentes deben cumplir con los siguientes requisitos:</p>
              <ol>
                  <li>Deben abordar contenido relacionado con los objetivos y la práctica profesional de la carrera.</li>
                  <li>Para el nivel de educación superior, deben cubrir un mínimo de ciento cincuenta horas, distribuidas a lo largo de los últimos cinco semestres de la carrera.</li>
                  <li>Deben ser aprobados con una asistencia mínima del noventa por ciento y una calificación no menor a ocho.</li>
              </ol>
            </div>
            <div class="carousel__slide" id="slide9">
              <h2 class="letra_convo">Práctica profesional</h2>
              <p>Esta opción implica que el estudiante participe en actividades durante un mínimo de setecientas veinte horas en un entorno laboral donde pueda aplicar los conocimientos adquiridos en su carrera. <br>
                  <br>Estas prácticas no están vinculadas con las actividades requeridas para cumplir con el servicio social y solo pueden ser acreditadas por estudiantes con un promedio general mínimo de ocho, que hayan completado al menos el cincuenta por ciento del plan de estudios de su carrera y presenten un programa aprobado por la Subdirección Académica del plantel, previa evaluación de la academia de profesores y el jefe del departamento correspondiente. <br>
                  <br>Al finalizar las prácticas, el estudiante debe presentar un informe escrito respaldado por la empresa u organización donde llevó a cabo las prácticas, el cual servirá como base para el examen profesional. <br>
                  <br>Los estudiantes interesados en esta modalidad deben iniciar el proceso en la oficina de prácticas y visitas de la escuela, solicitando una carta de presentación dirigida a la empresa seleccionada y presentando la confirmación de aceptación que indique el período y el proyecto en el que participará el estudiante, en la Jefatura de la carrera correspondiente.</p>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}