{% extends "base_generic_Administracion.html" %}
{% load static%}
{% block content %}
  <div id="fondo">
    <div class="contenedor_principal letra_texto">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1 class="letra_titulos">Convocatorias Registradas</h1>
            <button id="nueva_convocatoria">Nueva Convocatoria</button>
        </div>
        <table border="1" id="convocatoriasTabla">
            <thead>
                <tr>
                    <th>Convocatoria</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha Límite de Entrega</th>
                    <th>Descripción</th>
                    <th>Requisitos</th>
                    <th>Documentos a Entregar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="convocatoriasCuerpo">
                {% for convocatoria in convocatorias %}
                <tr>
                    <td>{{ convocatoria.convocatoria }}</td>
                    <td>{{ convocatoria.fecha_inicio }}</td>
                    <td>{{ convocatoria.fecha_limite_entrega }}</td>
                    <td>{{ convocatoria.descripcion }}</td>
                    <td>{{ convocatoria.requisitos }}</td>
                    <td>{{ convocatoria.documentos_a_entregar }}</td>
                    <td>
                      <i class="fas fa-edit" onclick="editarConvocatoria('{{ convocatoria.id }}')"></i>
                      <i class="fas fa-trash-alt" onclick="eliminarConvocatoria('{{ convocatoria.id }}')"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="pagination"></div>
    </div>
  </div>

  <script>
    var agregarConvocatoriaUrl = "{% url 'administracion:agregar_convocatoria' %}";
    var obtenerConvocatoriaUrl = "/administracion/titulacion/convocatorias/obtener/";
    var editarConvocatoriaUrl = "/administracion/titulacion/convocatorias/editar/";
    var eliminarConvocatoriaUrl = "/administracion/titulacion/convocatorias/eliminar/";
    var csrfToken = "{{ csrf_token }}";
  </script>

  <script src="{% static 'scripts/editar_calendario_titulacion.js' %}"></script>
{% endblock %}