{% extends "base_generic_alumnos.html" %}
{% block content %}

<div id="fondo">
  <div class="body_busqueda">
    <div class="titulo">
      <h1 id="title">Busqueda de Trabajos terminales</h1>
      <p id="description"> Llene las casillas para poder realizar la busqueda </p>
    </div>
    <div class="Barra_de_busqueda">
      <input type="text" id="LaBarrita" placeholder="Palabras Clave">
      <div class="busc4r">
        <i class="labarrita"></i>
      </div>
    </div>
    <div class="Inicial">
      <div class="BA">
      <p id="BusAva"> Busqueda Avanzada </p>
      </div>
      <div class="formulario">
        <form id="survey-form">
          <!-- Tus campos de formulario aquí -->
          <label for="inputNombre" id="pof-label">Palabra o frase</label>
          <input type="text" name="PalabraFrase" placeholder="Ingrese la palabra o frase a bucar" id="palabra_b">
          <label for="inputMail" id="autor-label">Nombre del Autor</label>
          <input type="text" name="AuT0r" placeholder="Ingrese el nombre del Autor" id="autor_b">
          <label for="inputMail" id="director-label">Nombre del Docente</label>
          <input type="text" name="D0cente" placeholder="Ingrese el nombre del Docente" id="docente_b">
          <label for="selectUno" class="etiqueta">Campo de busqueda</label>
          <div class="seleccion">
            <select id="dropdown" name="Campo">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="Todos">Todos los campos</option>
              <option value="Titulo">Titulo</option>
              <option value="Sustentante">Sustentante</option>
              <option value="Asesor">Asesor</option>
              <option value="Tema">Tema</option>
            </select>
          </div>
          <label for="selectUno" class="etiqueta">Adyacencia</label>
          <div class="seleccion">
            <select id="dropdown" name="Adyacencia">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="Seperadas">Buscar palabras separadas</option>
              <option value="Juntas">Buscar palabras juntas</option>
            </select>
          </div>
          <label for="inputEdad" id="año-label">Fecha de realizacion</label>
          <input type="date" name="AñoR" placeholder="AA/MM/DD" id="year">
          <br>
          <button type="submit" name="button" id="submit">Buscar</button>
        </form>
      </div>
    </div>
    <br>
  </div>
</div>
  
{% endblock %}



