{% extends "base_generic_alumnos.html" %}

{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<div id="fondo">
  <div class="body_busqueda">
    <div class="titulo">
      <h1 id="title">Busqueda de Trabajos terminales</h1>
      <p id="description"> Llene las casillas para poder realizar la busqueda </p>
    </div>
    <div class="Barra_de_busqueda">
      <input type="text" id="LaBarrita" placeholder="Palabras Clave">
      <div class="busc4r">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="Inicial">
      <div class="BA">
      <p id="BusAva"> Busqueda Avanzada </p>
      </div>
      <div class="formulario">
        <form id="survey-form">
          <!-- Tus campos de formulario aquí -->
          <label for="inputNombre" id="pof-label">Palabra o frase</label>
          <input type="text" name="PalabraFrase" placeholder="Ingrese la palabra o frase a bucar" id="palabra_b">
          <label for="inputMail" id="autor-label">Nombre del autor</label>
          <input type="text" name="AuT0r" placeholder="Ingrese el nombre del Autor" id="autor_b">
          <label for="inputND" id="document-label">Nombre del documento</label>
          <input type="text" name="Docu" placeholder="Ingrese el nombre del Documento" id="docu_b">
          <label for="inputDocente" id="director-label">Nombre del Docente</label>
          <input type="text" name="D0cente" placeholder="Ingrese el nombre del Docente" id="docente_b">
          <label for="inputSinodal" id="sinodal-label">Sinodal</label>
          <input type="text" name="Sin0" placeholder="Ingrese el nombre del sinodal" id="sinodal_b">
          <label for="inputConv0" id="convo-label">Convocatoria</label>
          <input type="text" name="Conv0" placeholder="Ingrese la conovocatoria" id="convo_b">
          <label for="selectUno" class="etiqueta">Tipo</label>
          <div class="seleccion">
            <select id="dropdown" name="Tipoo">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="PI">Proyecto de investigacion</option>
              <option value="Tesis">Tesis</option>
              <option value="MEP">Memoria de experiencia profesional</option>
              <option value="ECA">Examen de conocimiento por areas</option>
              <option value="CDP">Creditos de posgrado</option>
              <option value="Seminario">Seminario</option>
              <option value="Escolaridad">Escolaridad</option>
              <option value="Curricular">Curricular</option>
              <option value="PP">Practica profesional</option>
            </select>
          </div>
          <label for="inputEdad" id="año-label">Fecha de realizacion</label>
          <input type="date" name="AñoR" placeholder="AA/MM/DD" id="year">
          <br>
          <button type="submit" name="button" id="submit">Buscar</button>
        </form>
      </div>
    </div>
    <br>
  </div>
</div>
  
{% endblock %}



