<!DOCTYPE html>
{%load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Alumnos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base_alumnos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/nav_bar_alumnos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/convocatorias_titulacion.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/estatus_titulacion.css' %}">
    <link rel ="stylesheet" type="text/css" href="{% static 'styles/barra_busqueda_alumno.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/subir_documento.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/busqueda_simple_alumno.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/busqueda_avanzada_alumno.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/formas_titulacion.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/calendario_titulacion.css' %}">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


    <script src="{% static 'scrips/busqueda_avanzada_alumnos.js' %}"></script>

</head>
<body>
    <div id="nombre_sistema" class="header-flex-container">
        <a href="{% url 'alumnos:home' %}">
            <span>Aeneta - Alumnos</span>
        </a>
        <div class="alumno-info">
            {%  if nombre_alumno %}
                <!-- Menú desplegable para el Alumno -->
                <div class="dropdown_base">
                    <button class="dropbtn_base">{{ nombre_alumno }} {{ apellido_alumno }}</button>
                    <div class="dropdown-content_base">
                        <a href="#" onclick="event.preventDefault(); document.getElementById('view-profile-form').submit();">Ver datos</a>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar sesión</a>
                    </div>
                </div>
                <form id="logout-form" action="{% url 'alumnos:alumno-logout' %}" method="post" style="display:none;">
                    {% csrf_token %}
                </form>
                <form id="view-profile-form" action="#" method="get" style="display:none;">
                    <!--no es necesario enviar datos al hacer clic en "Ver datos" -->
                </form>
            {% endif %}
        </div>
    </div>
      <nav class="nav_bar" aria-label="Navegación principal">
        <a class="nav-link" href="{% url 'alumnos:buscar' %}" >Buscar</a>

        <!-- Menú desplegable para Titulación -->
        <div class="dropdown">
            <a class="nav-link">Titulación</a>
            <div class="dropdown-content">
                <a href="{% url 'alumnos:formas_titulacion' %}">Formas de titulación</a>
                <a href="{% url 'alumnos:convocatorias_titulacion' %}">Convocatorias de titulación</a>
                <a href="{% url 'alumnos:calendario_titulacion' %}">Calendario de titulación</a>
                <a href="{% url 'alumnos:estatus_titulacion' %}">Estatus de Titulacion</a>
            </div>
        </div>
        <a class="nav-link" href="{% url 'alumnos:subir_documento' %}">Subir documentos</a>
        <a class="nav-link" href="{% url 'alumnos:preguntas_frecuentes' %}" >Preguntas frecuentes</a>
      </nav>
    {% block content %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
    <footer>
        <p>Alumnos - Aeneta - Tiburones 2024 ©</p>
    </footer>
</body>
</html>
