{% extends "base_generic_docente.html" %}
{%  load static %}

{% block content %}
<style>
  /* Ocultar la tabla al inicio */
.tabla-oculta {
    display: none;
}

/* Estilos básicos para los botones de opciones de búsqueda */
.Opciones_de_busqueda {
    display: flex;
    justify-content: center; /* Alinear los botones al centro */
    gap: 30px; /* Espaciado entre los botones */
    margin-top: 20px;
}

.Opciones_de_busqueda .btn_d {
    display: flex; /* Para centrar el contenido del botón */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    width: 200px;
    padding: 10px;
    text-align: center;
    background-color: #3d0b60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.Opciones_de_busqueda .btn_d:hover {
    background-color: white;
    color: #3d0b60;
    border: none;
}

/* Transformar a mayúsculas */
.uppercase {
    text-transform: uppercase;
}

table {
    margin-top: 50px;
}

</style>
<div id="fondo">
  <div class="contenedor_principal letra_texto">
    <h1 >Buscar trabajos.</h1>
    <p class="letra_preguntas">Seleccione una opción para realizar la búsqueda:</p>
  
    <div class="Opciones_de_busqueda">
      <a href="{% url 'docente:buscar_por_tipo_d' %}" class="btn_d btn-primary">Buscar por Tipo</a>
      <a href="{% url 'docente:buscar_por_palabra_d' %}" class="btn_d btn-primary">Buscar por Palabra</a>
      <a href="{% url 'docente:buscar_por_año_d' %}" class="btn_d btn-primary">Buscar por Año</a>
      <a href="{% url 'docente:busqueda_avanzada_d' %}" class="btn_d btn-primary">Búsqueda Avanzada</a>
      <a href="{% url 'docente:buscar_lenguaje_natural_d' %}" class="btn_d btn-primary">Lenguaje natural</a>
      <button onclick="mostrarTodo()" class="btn_d btn-primary">Ver Todo</button>
    </div>
  
    <div id="tabla-resultados" class="tabla-oculta">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Nombre Autor</th>
            <th>Fecha</th>
            <th>Ver información</th>
          </tr>
        </thead>
        <tbody id="resultadosBusqueda">
          {% for trabajo in trabajos %}
          <tr>
            <td class="uppercase">{{ trabajo.nombre }}</td>
            <td>{{ trabajo.nombre_autor }}</td>
            <td>{{ trabajo.fecha_elaboracion }}</td>
            <td><a href="{% url 'docente:ver_trabajo_d' trabajo.id %}"><i class="gg-arrow-top-right-o"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function mostrarTodo() {
    window.location.href = "{% url 'docente:buscar' %}?ver_todo=1";
  }

  document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    const verTodo = urlParams.get('ver_todo');

    if (verTodo === '1') {
      document.getElementById('tabla-resultados').classList.remove('tabla-oculta');
    }
  });
</script>

{% endblock %}
