{% extends "base_generic_Administracion.html" %}
{% load static %}

{% block content %}
<div id="fondo">
    <div class="contenedor_principal">
        <div id="contenedor_datos">
            <h1 class="letra_titulos">Datos del administrador</h1>
            <div id="informacion" class="letra_datos">
                <p>Nombre: {{ nombre_administrador }}</p>
                <p>Apellido: {{ apellido_administrador }}</p>
                <p>Departamento: {{ departamento_administrador }}</p>
                <p>Cargo: {{ cargo_administrador }}</p>
                <p>Correo: {{ correo_administrador }}</p>
            </div>
            <div class="letra_datos" id="info_e">
                <button onclick="editarDatosGenerales('{{ nombre_administrador }}', '{{ apellido_administrador }}', '{{ departamento_administrador }}', '{{ cargo_administrador }}', '{{ correo_administrador }}', '{{ csrf_token }}')">Editar datos generales</button>
                <button onclick="cambiarContrasena('{{ csrf_token }}')">Cambiar contraseña</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'scripts/informacion_admin.js' %}"></script>
{% endblock %}
