{% extends "base_generic_Administracion.html" %}
{% load static %}
{% block content %}
<div id="fondo">
    <div class="contenedor_principal letra_texto">
        <h1 class="letra_titulos">Subir documentos</h1>
        <p>Para subir un documento al repositorio es necesario llenar el siguiente formulario.</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subir Archivo</button>
        </form>
        <div id="output"></div>
    </div>
</div>
<script type="text/javascript">
    const fileInput = document.getElementById('id_document');
    fileInput.addEventListener('change', () => {
        const fileName = fileInput.files[0].name;
        document.getElementById('output').textContent = `Archivo seleccionado: ${fileName}`;
    });
</script>
{% endblock %}
