<!DOCTYPE html>
{%load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Docentes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base_docentes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/busqueda_simple_docente.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/busqueda_avanzada_docente.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'styles/barra_busqueda_docente.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'styles/informacion_docente.css' %}">

    <script src="{% static 'scrips/Busqueda_avanzada.js' %}"></script>
    <!-- Para las alertas de SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>
<body>
    <div id="nombre_sistema" class="header-flex-container">
        <a href="{% url 'docente:home' %}">
            <span>Aeneta - Docentes</span>
        </a>
         <form action="{% url 'docente:buscar' %}"method="get" class="search-form">
            <div class="search" >
                <input type="text" name="busqueda" placeholder="Buscar..." />
                <button onclick="showTable()" class="search-button_n">
                    <i class="fas fa-search"></i>
                  </button>
            </div>
        </form>
        <div class="docente-info">
            {% if nombre_docente %}
                <!-- Menú desplegable para el administrador -->
                <div class="dropdown">
                    <button class="dropbtn">{{ nombre_docente }} {{ apellido_docente }}</button>
                    <div class="dropdown-content">
                        <a href="#" onclick="event.preventDefault(); document.getElementById('view-profile-form').submit();">Ver datos</a>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar sesión</a>
                    </div>
                </div>
                <form id="logout-form" action="{% url 'docente:docente-logout' %}" method="post" style="display:none;">
                    {% csrf_token %}
                </form>
                <form id="view-profile-form" action="{% url 'docente:informacion_docente' %}" method="get" style="display:none;">
                    <!--no es necesario enviar datos al hacer clic en "Ver datos" -->
                </form>
            {% endif %}
        </div>
    </div>
      <nav class="nav_bar" aria-label="Navegación principal">
        <a class="nav-link" href="{% url 'docente:buscar' %}">Buscar</a>
        <a class="nav-link" href="{% url 'docente:mis_trabajos' %}">Mis trabajos</a>
        <a class="nav-link" href="{% url 'docente:preguntas_frecuentes' %}" >Preguntas frecuentes</a>
      </nav>
    {% block content %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
    <footer>
        <p>Docentes - Aeneta - Tiburones 2024 ©</p>
    </footer>
</body>
</html>
